@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

body,
#root {
	width: 100vw;
	height: 100vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

@layer base {
  :root {
    --color-primary: 50 50 50;
    --color-secondary: ;

    --color-text: 0 0 0;
  }

  :root[class~="dark"] {
  	--color-primary: 10 10 10;
    --color-secondary: 100 100 100;
    --color-emphasis: 194 24 7;

    --color-text: 255 255 255;
  }
}

@layer utilities {
	.clip {
		clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
	}

	.clip-1 {
		clip-path: polygon(
			0 50%, 10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%
		);
	}
}